/*
Styles modified from: https://github.com/orderedlist/minimal
*/

body {
 background-color:#fff;
 padding:50px;
 font:14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 color:#262730;
 font-weight:400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 color:#262730;
 margin:0 0 10px 0;
}
p,
ul,
ol,
table,
pre,
dl {
 margin:0 0 20px;
}
h1,
h2,
h3 {
 line-height:1.1;
}
h1 {
 font-size:28px;
}
h1,
h2 {
 color:#D33F49;
}
h3,
h4,
h5,
h6 {
 color:#494949
}
a {
 color:#D33F49;
}
a:hover,
a:focus {
 color:#A6262E;
}
code,
pre {
 font-family:'Ubuntu Mono', monospace;
 color:#333;
}
pre {
 padding:8px 15px;
 background:#f8f8f8;
 border-radius:5px;
 border:1px solid #e5e5e5;
 overflow-x:auto;
}
table {
 width:100%;
 border-collapse:collapse;
}
th,
td {
 text-align:left;
 padding:5px 10px;
 border-bottom:1px solid #e5e5e5;
}
dt {
 color:#444;
 font-weight:700;
}
th {
 color:#444;
}

div.container {
  display: flex;
}
div.container div.about {
  width: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background: #A4D2D2;
}
div.container div.content {
  max-width: 800px;
}
@media only screen and (max-width: 1000px) {
    div.container {
        flex-wrap: wrap;
    }
}
